html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#container {
    display: grid;
    grid-template-areas: 
        "nav"
        "header"
        "content"
        "signup"
        "feature1"
        "footer"
        "feature2"
        "feature3";
}

#nav {
    grid-area: nav;
    background-color: #0937cec6;
    height: 50px;
}

#Header { 
    grid-area: header;
    background-color: #0aa9f28c;
    padding: 65px;
    text-align: center;
}

#signup {
    grid-area: signup;
    background-color: #8e44ad;
    padding: 20px;
    text-align: center;
}

#feature1 {
    grid-area: feature1;
    background-color: #f6bd60;
    padding: 70px;
    text-align: center;
}

#feature2 { 
    grid-area: feature2;
    background-color: #ffcc00; 
    padding: 70px;
    text-align: center;
}

#feature3 { 
    grid-area: feature3;
    background-color: #ff6699; 
    padding: 70px;
    text-align: center;
}

#footer {
    grid-area: footer;
    background-color: #e0e3e6;
    padding: 110px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    #container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "nav nav"
            "header header"
            "footer footer"
            "signup feature3"
            "feature1 feature3"
            "feature1 feature2";
    }
    #signup {
        grid-area: signup;
        background-color: #8e44ad;
        padding: 70px;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    #container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "nav nav nav"
            "header header header"
            "feature1 feature2 feature3"
            "signup signup signup"
            "content content content"
            "footer footer footer";
    }
}

@media screen and (max-width: 767px) {
    #container {
        grid-template-areas: 
            "nav"
            "header"
            "footer"
            "signup"
            "feature1"
            "feature2"
            "feature3"
    }
}